extends ./layout/index

block contenido
    main.flex-grow-1.d-flex.justify-content-center.align-items-center.fondo
        .d-grid.gap-3.col-6.col-md-4.mx-auto
            a.btn.btn-danger.btn-lg.py-3.shadow-sm(href="/listadoUsuarios")
                |  Usuarios
            a.btn.btn-danger.btn-lg.py-3.shadow-sm(href="/listadoCuentas")
                |  Cuentas
            a.btn.btn-danger.btn-lg.py-3.shadow-sm(href="/listadoVinculos")
                |  Vinculos
            a.btn.btn-danger.btn-lg.py-3.shadow-sm(href="/listadoTransacciones")
                |  Transacciones
