/*
------------------------------------------------------
E S T I L O S      G E N E R A L E S
------------------------------------------------------
*/

.fondo {
    /* PARA DARLE A TODAS LAS WEBS EL DEGRADADO AMARILLO DEL FONDO*/
    background: linear-gradient(to bottom, #ffe28a, #fff9e6);
    background-attachment: fixed;
}

.logo-img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.header-title {
    font-size: 1.5rem;
    margin: 0;
    color: white;
}

.footer-text {
    color: white;
    font-size: 0.9rem;
}

.navbar-nav .nav-link:hover {
    color: #000000 !important;
}

/*
------------------------------------------------------
E S T I L O S      F O R M U L A R I O S
------------------------------------------------------
*/

.card {
    border: none;
    border-radius: 15px;
}
.card-header {
    background: rgb(187, 56, 56);
    color: white;
    border-radius: 15px 15px 0 0 !important;
}
.form-floating > label {
    color: rgb(187, 56, 56);
}


.btn-custom {
    background-color: rgb(187, 56, 56) !important;
    border-color: rgb(187, 56, 56) !important;
    padding: 10px 20px;
    font-weight: 600;
}


.btn-custom:hover {
    background-color: rgb(110, 33, 33) !important;
    border-color: rgb(110, 33, 33) !important;
}


.btn-custom:active,
.btn-custom:focus,
.btn-custom:active:focus,
.btn-primary:active:focus {
    background-color: rgb(110, 33, 33) !important;
    border-color: rgb(110, 33, 33) !important;
    box-shadow: 0 0 0 0.25rem rgba(187, 56, 56, 0.5) !important;
}

.btn-custom:disabled,
.btn-custom.disabled {
    background-color: rgb(187, 56, 56) !important;
    border-color: rgb(187, 56, 56) !important;
    opacity: 0.65; /* Lo hacemos un poco transparente */
    color: white !important;
}

/*
------------------------------------------------------
E S T I L O S      L I S T A D O S
------------------------------------------------------
*/

.tabla-personalizada th,
.tabla-personalizada td {
    border: 2px solid #FF0000 !important;
    background-color: #FFFFAA !important;
    color: #333;
}

.tabla-personalizada thead th {
    background-color: #f25252 !important;
    color: #8B0000;
    border-bottom: 3px solid #FF0000 !important;
}

.tabla-personalizada tbody tr:hover {
    background-color: #FFDD00 !important;
}

/*
------------------------------------------------------
E S T I L O S      M A S      I N F O R M A C I O N
------------------------------------------------------
*/

.fondoAmarillo {
    background-color: #e2c56f !important;
    border-color: #e2c56f !important;
    color: black;
}


.fondoAmarillo:focus {
    background-color: #e2c56f !important;
    border-color: #c9ab52 !important;
    color: #000;

    box-shadow: 0 0 0 2px rgba(226, 197, 111, 0.5) !important;

    outline: 0;
}

.fondoAmarillo::file-selector-button {
    background-color: #dcb34a !important;
    color: #000;
    border: none;
    border-right: 1px solid #c9ab52 !important;
    box-shadow: none;
}

.fondoAmarillo:hover::file-selector-button {
    background-color: #c9ab52 !important;
}

.sin-flechas::-webkit-outer-spin-button,
.sin-flechas::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Para Firefox */
.sin-flechas {
    -moz-appearance: textfield;
}

/*
------------------------------------------------------
E S T I L O S      C O M P R O B A C I O N E S
------------------------------------------------------
*/
.valido {
    border-color: #198754 !important;
    box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.25) !important;
}


.invalido {
    border-color: #dc3545 !important;
    box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25) !important;
}