doctype html
html(lang="es")
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
        meta(http-equiv='Cache-Control' content='no-store')
        meta(name='description' content='Mini Banco Ruiz')
        meta(name='author' content='Sergio Ruiz')
        link(rel='shortcut icon' href='/images/logo.png')
        title #{nombreP} | #{pagina}
        link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css' rel='stylesheet')
        link(href='/css/estilos.css' rel='stylesheet')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js')


    body.d-flex.flex-column.min-vh-100
        include header
        block contenido
        block scripts
        include footer